/* removing browser default settings */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background: rgba(29, 33, 61, 0.5);
    padding: 10px 60px;
    box-sizing: border-box;
}

.contact-details span{
    color: white;
    font-size: 15px;
}

.contact-details .contact-no{
    display: block;
    margin-bottom: 5px;
}

.logo, .contact-details{
    flex: 1;
}

.logo img{
    width: 100px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.menu-toggler{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    z-index: 10;
}

.menu-toggler #menu-btn, .menu-toggler #menu-btn:focus{
    background: none;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.sidebar{
    width: 190px;
    height: 100vh;
    background: rgba(29, 31, 58, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    
}

.sidebar nav{
    top: 40%;
    position: relative;
    text-align: center;
    transition: 0.3s;
}

.sidebar nav ol{
    list-style: none;
}

.sidebar nav ol li{
    color: white;
}

.sidebar nav ol li a{
    text-decoration: none;
    color: white;
}
